<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>
        <form action="/search" method="POST">
            <li>Search<input type="text" placeholder="Enter a Title or Author" name="query"></li>
            <li>Title<input type="radio" value="1" name="selectionType"></li>
            <li>Author<input type="radio" value="2" name="selectionType"></li>
            <li><input type="submit" value="submit"></li>
        </form>
    </ul>
</body>

</html>