<%- include('../layout/header') %>


<body>
        <ul>
            <form action="/search" method="POST">
                <li id="search"><input type="text" placeholder="Enter a Title or Author" name="query"></li>
                <li id="title"><input type="radio" value="title" name="selectionType">Title</li>
                <li id="Author"><input type="radio" value="author" name="selectionType">Author</li>
                <li id="submit"><input type="submit" value="submit"></li>
            </form>
        </ul>    
</body>

<%- include ('../layout/footer') %>