/* new page styling */
/* @import url(//fonts.googleapis.com/css2?family=Antic+Didone); */

body{
  height: 100%;
  width: 100%;

}


nav{
  background-color: black;
  color:blanchedalmond;
  font-family: "Oi", serif;
}

h2{
  height:5%;
}

ul{

  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* input{
  width:100%;
} */


#search{
  margin-top: 130px;
  border: 1px solid black;
}

#title{
  margin-top: 20px;
}

#Author{
  margin-top: 20px
}

#submit{
  margin-top: 20px;
  /* margin: 2% 10% 2% 10% ; */
}
/* show page */
div{
  margin:auto;
  justify-content: center;
  text-align: center;
  border: 8px solid black;
}

#entry{
  align-items: center;
  border: 8px solid black;
  margin-left: 80px;
  margin-right: 80px;
}


img{
  height: 80px;
  width: 50px;
  margin-top: 40px;
  align-items: center;
}

.center{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

p{
 text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

h2{
  font-family: "Oi", serif;
}